@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-bg-color: hsl(0, 0%, 90%);
    --keypad-bg-color: #d1cccc;
    --screen-bg-color:hsl(0, 0%, 93%);

    --btn-rem-bg-color: hsl(185, 42%, 37%);
    --btn-toggle-bg-color: hsl(25, 98%, 40%);
    --btn-bg-color: hsl(45, 7%, 89%);

    --num-text-color: #35352c;
    --rem-text-color: #ffffff;
    --inp-text-color: #35352c;
    --final-text-color: #ffffff;

    --btn-num-shadow:#a69d91;
    --btn-rem-shadow: #1b5f65;
    --btn-final-shadow: #893901;
    
    font-family: 'League Spartan', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    padding: 1rem;
    margin-block: auto;
    font-size: 1.2rem;
}

.grid{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    color: var(--inp-text-color);
}
.col{
    flex-direction: column;
    gap: 1rem;
}
.row{
    grid-auto-flow: column;
    grid-template-columns: repeat(4,1fr);
}
.end-row{
    grid-template-columns: repeat(2,1fr);
}
.btn-div{
    border-radius: .5rem;
    padding: 1.5rem;
    background-color: var(--keypad-bg-color);
}
button{
    padding: .8rem;
    font-size: 1.5rem;
    border-radius: .6rem;
    font-weight: 700;
    border: transparent;
    color: var(--num-text-color);
    background-color: var(--btn-bg-color);
    cursor: pointer; 
    box-shadow: 0px 5px var(--btn-num-shadow); 
    overflow: hidden;	
}
.rem{
    background-color: var(--btn-rem-bg-color);
    color: var(--rem-text-color);
    box-shadow: 0px 5px var(--btn-rem-shadow);
}
.final{
    color: var(--final-text-color);
    background-color: var(--btn-toggle-bg-color);
    box-shadow: 0px 5px var(--btn-final-shadow);
}
#input{
    width: 100%;
    border: none;
    padding: 1rem;
    text-align: end;
    font-size: 2rem;
    border-radius: .5rem;
    background-color: var(--screen-bg-color);
    color: var(--inp-text-color);
}
#input:focus{
    border: transparent;
}
.theme{
    font-size: .6rem;
    font-weight: 700;
    align-self: flex-end;
    align-items: center;
    gap: .5rem;
}
.hint{
    align-self: end;
    margin-bottom: .5rem;
}
.theme-guide{
    margin-inline: .5rem;
    margin-block: .1rem;
}








input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 3.6rem;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--keypad-bg-color);
    border-radius: 1rem;
    height: 1.3rem;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    background-color: var(--btn-toggle-bg-color);
    border-radius: 1rem;
    height: 1rem;
    width: 1rem;
    margin-top:.15rem;
    padding: .1rem;
  }
  
  input[type="range"]::-moz-range-track {
    background-color: var(--keypad-bg-color);
    border-radius: 1rem;
    height: 1.3rem;
  }
  
  input[type="range"]::-moz-range-thumb {
    background-color: var(--btn-toggle-bg-color);
    border: none;
    border-radius: 1rem;
    height: 1rem;
    width: 1rem;
    padding: .1rem;
  }

  @media(width<500px){
    :root{
        font-size: 14px;
    }
    #input{
        font-size: 3rem;
    }
    .container{
        padding-inline: 1.5rem;
        padding-block: 2rem;
    }
    button{
        padding-inline: auto;
        padding-block: 1rem;
    }
    
  }
  

  .sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }